.loanButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.loanButton:hover {
  background-color: #004fcc;
}

.loanPage {
  text-align: center;
  margin-top: 40px;
}

.loanCard {
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 0 10px #ccc;
}

.applyLoanButton {
  background: green;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.backButton {
  background: gray;
  padding: 10px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 6px;
}
